/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

body {
    background: #767676;
    font-family: "Montserrat";
    position: relative;
}

footer .fl-row-content-wrap {
    background: transparent;
}

.fl-page {
    width: 100%;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
    max-width: 95%;
}
.fl-row-full-width > .fl-row-content-wrap > .fl-row-fixed-width{
    width: 100%;
}
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    border-radius: 30px !important;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}


/* a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
} */


/* a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #0071b2!important;
    color: #ffffff !important;
    border: 1px solid #0071b2!important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #0071b2 !important;
    border: 1px solid #0071b2!important;
}

.fl-button-text {
    color: #fff !important;
} */

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #0071b2 !important;
    border: 1px solid #0071b2 !important;
    font-weight: 700;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: #fff !important;
    color: #0071b2 !important;
    border: 1px solid #0071b2 !important;
    font-weight: 700;
}

.btn-white .fl-button-text {
    color: #0071b2 !important
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    color: #1a3d57;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    color: #1a3d57;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


/* Slick Slider CSS*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Breadcrumbs */

.breadcrumbs {
    font-size: 90% !important;
    padding: 20px 15px 0;
}

.breadcrumbs a {
    font-size: 100% !important;
}


/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    padding: 10px 0 0 0;
    font-family: "Montserrat", sans-serif;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {

    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #ffffff;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #ffffff;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #ffffff !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 550;
    color: #FFFFFF !important;
    font-size: 13px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}

.yawp_wim_title {
    display: none;
}

.contactForm .gform_wrapper .gform_body a {
    color: #fff;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }

    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }

    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #ffffff !important;
        font-size: 90%;
    }

    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }

    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }

    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }

    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    .active-gallery-modal .fl-row-content-wrap {
        max-width: 1020px;
    }

    .active-gallery-modal .product-box {
        padding: 30px;
    }

    .popup-wrap-main {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .image-wrp-gal {
        width: 57% !important;
    }

    .active-gallery-modal .fl-row-content-wrap>.row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    #menu-gallery-menu li a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) {

    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }

    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        margin-left: -60%;
        text-align: center;
    }

    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }

    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }

}

@media screen and (max-width: 768px) {
    .image-wrp-gal {
        width: auto !important;
    }

    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }

    .fl-menu .fl-menu-mobile-toggle {
        background-color: #000 !important;
    }


}


/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: fixed;
    right: 0px;
    left: 0px;
    margin: auto;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 992px) {
    .fl-page-nav-search form {
        background-color: #1c3e57;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #ffffff !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX(-5px) rotate(45deg);
        -ms-transform: translateX(-5px) rotate(45deg);
        transform: translateX(-5px) rotate(45deg);
        border-color: #ffffff;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 36px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }

    .uabb-ib-effect-style2 .uabb-new-ib-content{
        max-height: inherit;        
        bottom: auto;
    }
    .uabb-ib-effect-style2.uabb-ib2-hover .uabb-new-ib-title{
        top: auto;
        bottom: auto;
    }
    .uabb-ib-effect-style2.uabb-ib2-hover .uabb-new-ib-title{
        -webkit-transform:none;
        -moz-transform:none;
        transform:none;
    }
    .gform_wrapper .top_label input.medium.datepicker{
        width: 100% !important;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #ffffff;
    }

    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        border-top: 1px solid #ffffff;
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }

    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px !important;
        position: relative;
    }

    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        -moz-transform: scale(1.5, 1);
        -ms-transform: scale(1.5, 1);
        -o-transform: scale(1.5, 1);
        transform: scale(1.5, 1);
    }

    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }

    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }

    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }

    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff !important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    /* padding: 0 !important; */
    padding: 6px 0px !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC !important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #8AB0AB;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0 !important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #8AB0AB;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #8AB0AB;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}

/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}

.active-gallery-modal .gallerySlider .gallery-img-holder img {
    width: auto;
    height: auto;
    max-height: 600px;
    margin: 0 auto;
}

.active-gallery-modal a.fl-button {
    padding: 10px 25px;
    display: block;
    max-width: 200px;
    text-align: center;
}


@media (max-width:768px) {

    .leftSideImageSection .fl-photo-content img,
    .rightSideImageSection .fl-photo-content img {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .rightSideImageSection .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}


.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}

.social-icons li a {
    color: #1a3d57 !important;
}

#input_33_7 {
    width: 100%;
}

/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #8AB0AB;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #8AB0AB;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #8AB0AB !important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}

/* FR Slider */

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 100%;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

.fl-slide-mobile-photo-img {
    min-height: 300px;
}

.fl-slide-text-center .fl-slide-photo-wrap img {
    max-height: 260px;
}

.fl-node-58fab51c4e4ff p a,
.fl-node-5be49ecb044f8 p a,
.fl-node-5aabf8011359b p a {
    display: block;
    padding: 1px 0;
}

.product-detail-layout-4 .button-wrapper a {
    font-size: 13px;
    text-align: center;
}

.product-detail-layout-4 .button-wrapper .button {
    border: 1px solid #1c3e57;
    color: #1c3e57;
    background: #fff;
}

.product-detail-layout-4 .button-wrapper .button.alt,
.product-detail-layout-4 .button-wrapper .button:hover {
    background-color: #1c3e57;
    color: #fff;
    text-decoration: none;
}

.product-detail-layout-4 .button-wrapper .button.alt:hover {
    color: #767676;
    background-color: #fff;
}

/* HP Products Boxes */
.hp-product-1 .njba-logo-carousel-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-2 .njba-logo-grid-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-3 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    font-size: 13px;
    line-height: 24px;
}

.hp-product-4 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: right;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tabs-label .njba-tab-label-inner {
    padding: 10px 20px;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tab-title {
    /* font-weight: */
}

.hp-products-6 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
    position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
    font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title {
    text-transform: uppercase;
}

.hp-products-7 .njba-content:after {
    content: "";
    display: table;
    clear: both;
}

.hp-product-7 .text-content {
    width: 50%;
    float: left;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-7 .text-img {
    width: 45%;
    float: right;
    text-align: center;
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1280px;
    width: 100%;
}


@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.fl-tabs-label {
    color: #949494 !important;
}

.fl-tabs-label.fl-tab-active {
    color: #222222 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -28px;
}


.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.broken_link,
a.broken_link {
    text-decoration: none !important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}


/* CSS for the Plugin */

.njba-logo-inner {
    border: none !important;
}

h4 .njba-logo-title {
    height: 15.6px;
    width: 103px;
    color: #767676;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 15px;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: -20px;
}

.bx-wrapper .bx-prev {
    right: 40px !important;
    left: auto !important;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0px;
}

#hp-product-2 h3.njba-logo-title {
    padding: 10px 17px 13px;
}

.njba-logo-grid-main .njba-logo-inner {
    margin-bottom: 50px;
}

.njba-tabs .njba-tab-label-inner,
.njba-tabs .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs .njba-tabs-panel-content,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner {
    border: none !important;
}

.njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.njba-tab-active {
    border-bottom: 4px solid #1c3e57;
}

.njba-logo-inner {
    background: none;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
}



/* Coupon Banners CSS*/

.couponbanner1 .fl-cta-title,
.couponbanner2 .fl-cta-title,
.couponbanner3 .fl-cta-title {
    padding: 0;
}

.couponbanner1 .fl-cta-button .fl-button .couponbanner2 .fl-cta-button .fl-button,
.couponbanner3 .fl-cta-button .fl-button {
    display: inline-block;
}

/* Nav */
.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #1c3e57;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px !important;
}

.nav-1-menu .menu a {
    padding-top: 0px !important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}

.couponbanner1 .fl-button {
    display: inline-block;
    float: left;
}

.card_boxed_img .fl-button {
    margin-bottom: 20px;
}

.card_boxed_img .fl-cta-text-content {
    margin-top: 15px;
}

.card_boxed_img .fl-cta-text-content h3 {
    margin-top: 10px;
}

.fl-page-nav-centered-inline-logo {
    position: relative;
    z-index: 7;
}

.fl-page-nav-centered-inline-logo .fl-page-nav ul.navbar-nav>li,
.fl-page-nav-centered-inline-logo .fl-page-nav-search {
    vertical-align: top;
}

.fl-page-nav-centered-inline-logo .fl-page-nav-search a.fa-search {
    padding: 26px 0 12px 15px;
}

.fl-page-nav .navbar-nav li>a {
    padding: 25px 15px;
}

.fl-logo-centered-inline div a {
    padding: 0px;
    box-shadow: 0px 3px 3px #aaa;
    background: #fff;
    /* margin: 0 0 -65px; */
}

.fl-page-nav {
    max-height: 73px;
}

.phoneno {
    padding-top: 27px;
    padding-left: 16px;
    float: none;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.social-icons {
    text-align: right;
}

.footer-links a {
    display: block;
}

.footer-terms-conditions {
    text-align: right;
    margin: 0 0 10px;
}

a.fl-icon-text-link.fl-icon-text-wrap:before {
    content: "\f095 ";
    font-family: FontAwesome !important;
    padding-right: 10px;
}

.fl-builder-content .fl-node-5c62dafb854fe a.fl-button:hover span {
    color: #1c3e57 !important;
    text-decoration: underline;
}

.fl-page-header-fixed .fl-page-header-logo a img {
    height: 78px !important;
    padding: 4px;
    background: #fff;
}

.storename {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
}

.storeLocator {
    /* display: flex;
    align-items: baseline; */
}

.tabReverce .njba-tab-section-main,
.tabReverce .uabb-module-content.uabb-tabs {
    display: flex;
    flex-direction: column-reverse;
}

.uabb-tab-current {
    border-bottom: 4px solid #1c3e57;
}

.tabReverce .uabb-tabs-nav {
    margin-top: 20px;
}

.fullWidthTab .njba-tabs-panel-content {
    padding: 0;
}

.storeLocator>.fa {
    margin-right: 10px;
}

.tabCenter .njba-tabs-nav {
    display: flex;
    justify-content: center;
}

.flexColumnWIthImg {
    display: flex;
}

.buttonPrimery {
    background: rgb(220, 81, 90) !important;
    border-color: rgb(220, 81, 90) !important;
    color: #ffffff !important;
    border-radius: 60px;
}

.buttonPrimery:hover {
    background: #b1353d !important;
    border-color: #b1353d !important;
}

.flexColumnWIthImg>* {
    flex: 1;
}

.flexColumnWIthImg>div {
    margin-right: 100px;
}

.servicePageBanner .bx-wrapper .bx-pager {
    bottom: 20px;
}

.servicePageBanner .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
}

.servicePageBanner .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

.contactUsForm input,
.contactUsForm textarea {
    border: 1px solid #000;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

/* .plpSortpageTab .fl-rich-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.gform_wrapper .gform_body a {
    color: #000;
    font-weight: 600;
}

.gform_wrapper div.charleft {
    display: none;
}

.fl-page-content .fl-content.product {
    margin-top: 0;
}

.product-detail-layout-4 .pdp2-leftbox {
    margin-top: 40px;
}


/* Code from custome theme  */

.fl-page-header-primary .fl-logo-img {
    max-width: 199px;
    margin: 6px;
}

.fl-page-nav-centered-inline-logo .fl-logo-centered-inline .fl-page-header-logo a {
    background: #fff;
    display: block;
}

.fl-page-nav-centered-inline-logo .fl-page-header-container {
    margin-top: 0;
    padding-top: 0;
    background-color: #1c3e57;
    padding-bottom: 0;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
    max-height: 100px !important;
}

.brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: -50px;
    top: 50% !important;
}

.brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -50px !important;
    right: auto !important;
    top: 50% !important;
}

i.fa-star:before {
    content: "\f005 \f005 \f005 \f005 \f123";
}

.googlekeyword {
    color: #fff;
    text-align: center;
}

.fl-sidebar,
.fl-post.type-post {
    margin-top: 100px !important;
}

.search-row {
    max-width: 1100px;
    margin: 100px auto;
}

.product-grid .product-row .fl-post-grid-post .fl-post-grid-image img {
    max-height: 150px;
}


.centerCaption .fl-slide-foreground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}



@media (min-width: 992px) {

    .product-grid .product-row .col-md-4,
    .product-grid .product-row .col-md-3 {
        min-height: 330px;
    }
}

/* end Code from custome theme  */

.fl-content-slider .slider-menu {
    display: none;
}




/* input AM & PM */
.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute{
    margin-right: 12px !important;
}
.gform_wrapper .timeEstimate .gfield_time_hour i{
    margin-right: -8px;
}
.gform_wrapper .gfield .ginput_container_select,
.gform_wrapper .gfield .gfield_time_ampm {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    display: flex !important;
    align-items: baseline;
}

.gform_wrapper .gfield .ginput_container_select>select,
.gform_wrapper .gfield .gfield_time_ampm.ginput_container>select {
    width: 100% !important;
    max-width: 100% !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 1em;
}

.gform_wrapper .gfield .ginput_container_select:after,
.gform_wrapper .gfield .gfield_time_ampm:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    border-top: 8px solid black;
    opacity: 0.5;

    content: "";
    width: 0;
    height: 0;
    position: relative;
    pointer-events: none;

}
/* input AM & PM */

/* Mobile reposove css */
@media screen and (min-width: 992px) {
    .shopatHome .uabb-subheading.uabb-text-editor > p {
        text-align: left;
    }
}

@media screen and (max-width: 991px) {}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding: 25px 11.5px;
    }
}

@media (max-width: 992px) {
    .topBarMain .fl-col-group{
        display: flex;
    }
    .topBarMain .fl-col-group #menu-header{
        display: flex;
    }
    .topBarMain .hideOnMobile {
        flex: 70%;
        max-width: max-content;
    }

    .fl-page-header .fl-page-nav-col {
        display: none;
    }

    .fl-page-nav-centered-inline-logo .fl-page-header-logo {
        height: 120px;
    }

    .fl-page-header-primary .fl-logo-img {
        background: #ffffff;
    }

    .tabs-4 .fl-tabs-label,
    .uabb-tab-acc-title {
        max-width: 100%;
        text-align: left;
        background: #f7f7f7;
    }

    .uabb-tabs .uabb-tab-acc-title {
        background: #efefef !important;
        margin: 2px 0;
    }

    .tabs-4 .fl-tabs-label.fl-tab-active,
    .uabb-content-current .uabb-tab-acc-title {
        background: #ffffff !important;
        text-align: center;
        border-bottom: 2px solid #8AB0AB !important;
    }

    .tabCenter.fullWidthTab .uabb-tabs .uabb-content .fl-builder-content .fl-callout-text * {
        color: #fff !important;
    }

    .fl-page-header-primary .fl-logo-img {
        max-width: 200px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .tabCenter .njba-tabs-nav {
        display: grid;
        justify-content: center;
    }

    .facet_filters {
        z-index: 100;
    }

    .facet_filters .close_bar {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        background: none;
    }

    .facet_filters .close_bar .close {
        color: #000;
        font-size: 25px;
        line-height: 0;
    }

    #menu-copyrights-menu {
        text-align: center;
    }

    #menu-copyrights-menu li {
        display: inline-block;
        vertical-align: top;
    }

    .popup-wrap-main {
        flex-wrap: wrap;
    }

    .popup-wrap-main>div {
        flex: 1;
    }

    .popup-wrap-main>div.product-box .fl-button {
        margin: 0 auto;
    }

    .clientOwner_btn a.uabb-btn {
        padding: 30px 0 !important;
    }
    .fl-node-5d5ff812c6e06 .uabb-marketing-button-wrap.uabb-marketing-button-reponsive-center{
        text-align: left !important;
    }
    .fl-node-5d5ff812c6e06 .uabb-marketing-button-wrap.uabb-marketing-button-reponsive-center .uabb-button{
        padding-left: 20px;
    }
    .headerMain .uabb-module-content.uabb-photo.uabb-photo-align-left.uabb-photo-mob-align-center {
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media screen and (max-width: 480px) {
    .fl-node-5d5ff812c6e06 .uabb-marketing-button-wrap.uabb-marketing-button-reponsive-center{
        text-align:  center !important;
    }
    .phoneNumberHeader{ color: #ffffff;}   
    .default-form h1 {
        line-height: 1em;
        font-weight: 700 !important;
        font-size: 3em !important;
    }

    .topBarMain .hideOnMobile {
        display: none;
    }
    .web-form .gfield .gfield_time_ampm.ginput_container.ginput_container_time>select{
        width: 90px !important;
        padding: 5px 10px !important;
    }
}